body {
    margin: 0px; 
    padding; 0px;
    color: #777777;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    margin: 0 auto;
    position: relative;
}


nav {
    position: relative;
    /* Try a percentage for the margin-left */
    margin-left: 900px;
    bottom: 30px;
}

nav a { text-decoration: none;
    color: #777777;
    margin: 10px;
}

.wrapper {
    width: 100%;
    background-color: lightgray;
    height: 700px;
    background-image: url("../images/gravel/gravel.png");


}

h1, h2 {
    
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 { color: white;
    width: 27%;
    background-color: #4aaaa5;
    /* Try a percentage for the margin-left */
    margin-left: 17%;
    position: relative;
    top: 40px;
    padding: 20px;
}


h2 {
    color: #4aaaa5;
    padding-top: 20px;
    margin-left: 10px;
}

.main-content {
    background-color: #ffffff;   
    border-color: #dddddd; 
    width: 960px;
    margin: 0 auto;
    height: 475px;
    
}

.main-contact {
    background-color: #ffffff;   
    border-color: #dddddd; 
    width: 960px;
    margin: 0 auto;
    height: 525px;
    
}

.main-portfolio {
    background-color: #ffffff;   
    border-color: #dddddd; 
    width: 960px;
    margin: 0 auto;
    height: 525px;
    

}

p { margin: 20px;
    
  }



.profile {float: left;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}


form {
    margin: 25px;
    padding-left: 30px;
}

.length { width: 800px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 175%;
}

#submit {
    
        background-color: #4aaaa5; /* Green */
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}



.box {
    background: #4aaaa5;
    height: 25px; 
    width: 200px;
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    

}

.img {
    height: 160px; 
    width: 200px;
    position: absolute;
    
}


.box-1 {
    left: 15.3%;
    top: 49%;
    z-index: 1;
}

.img-1 {  
         left: 18.05%;
          top: 35%;
          z-index: 0;

}

.box-2 {
    top: 49%;
    left: 35%;
    z-index: 1;

}

.img-2 {
    top: 35%;
    left: 37.8%;
    z-index: 0;

}

.box-3 {
    top: 79.5%;
    left: 35%;
    z-index: 1;

    
}

.img-3 {
    top: 65%;
    left: 37.8%;   
    z-index: 0;

}

.box-4 {
    top: 79.5%;
left: 15.2%;
z-index: 1;


}

.img-4 {
    top: 65%;
    left: 18.02%;
    z-index: 0;
}


    .box-5 {
    top: 79.5%;
    left: 53.2%;
    z-index: 1;
}

.img-5 {
    top: 65%;
    left: 56%;   
    z-index: 0;
}



.box-6 {
    top: 49%;
    left: 53.2%;
z-index: 1;


}

.img-6 {
    top: 35%;
    left: 56%; 
   z-index: 0;

}

footer {
    background-color: #666666;
    padding: 20px;
    text-align: center;
    clear: both;
    color: #cccccc;
    border-top: 8px solid #4aaaa5;
    position: sticky;
    bottom: 0;
    z-index: 2;
}